email=devopstrainingblr@gmail.com
#always-auth=true

registry=http://3.110.167.34:8081/repository/nodejs-app/
http://3.110.167.34:8081/repository/nodejs-app/:_authToken=YWRtaW46YWRtaW4xMjM=
#//registry.npmjs.org=YWRtaW46YWRtaW4xMjM=
#_auth=YWRtaW46YWRtaW4xMjM=

allowRepublish=true

