email=devopstrainingblr@gmail.com
always-auth=true
_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true

registry=https://mygitdomain.tld/api/packages/myorg/npm/
mygitdomain.tld/api/packages/myorg/npm/:_authToken=YWRtaW46YWRtaW4xMjM=
mygitdomain.tld/api/packages/npm/:_authToken=YWRtaW46YWRtaW4xMjM=
